{% extends 'base.html.twig' %}

{% block title %}Timeline{% endblock %}

{% block body %}
    <h1>Timeline</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ timeline.id }}</td>
            </tr>
            <tr>
                <th>NameTechnology</th>
                <td>{{ timeline.nameTechnology }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ timeline.createdAt ? timeline.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Finish_at</th>
                <td>{{ timeline.finishAt ? timeline.finishAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ timeline.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('timeline_index') }}">back to list</a>

    <a href="{{ path('timeline_edit', {'id': timeline.id}) }}">edit</a>

    {{ include('timeline/_delete_form.html.twig') }}
{% endblock %}
