<!--competences-->
<section class="page-section pt-3 pb-3" id="competence">
    <div class="container mt-5 mb-5">
        <div class="row text-dark">
            <div class="col-md-6 offset-md-3">
                <h2 class="page-section-heading text-secondary text-center">Compétences</h2>
                <ul class="timeline">
                    {% for timeline in timelines %}
                    <li>
                        <a class=" text-dark shadow" >{{ timeline.nameTechnology}}</a>
                        <a  class="float-right text-dark shadow">{{ timeline.createdAt | date('d/m/y')}}----{{ timeline.finishAt | date('d/m/y')}}</a>
                        <p>{{ timeline.description}}</p>
                    </li>
                    {%endfor%}
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="pd-parallax" datasrc="{{ asset('statics/images/projet2.jpg') }}"></div>
